*{
    margin: 0;
    padding: 0;
}
.nav-bar{
    background-color: green;
    padding: 10px;
}
.nav-btns > button{
background-color: transparent;
border: none;
color: white;
padding: 0px 10px;
}
.main-container{
    width: 100vw;
    height: 80vh;
    border: 1px solid  rgb(188, 185, 185);
    overflow: scroll;
}
.header{
    display: flex;
    position: sticky;
    top: 0;
    width: fit-content;
    background-color: #fff;
}
.header > div:nth-child(1){
    left: 0;
    position: sticky;
    z-index: 100;
    background-color: #e7e7e7;
}
.header-cells{
    min-width: 100px;
    border: 1px solid  rgb(188, 185, 185);
    text-align: center;
   padding: 5px;
}
.body{
    display: flex;
    width: fit-content;
}
.numb-col{
    position: sticky;
    left: 0;
    background-color: #fff;
}
.numb-cells{
    min-width: 100px;
    border: 1px solid  rgb(188, 185, 185);
    text-align: center;
    padding: 5px;
}
.main{
    height: 100px;
}
.row{
    display: flex;
}
.main-cell{
    min-width: 100px;
    border: 1px solid rgb(188, 185, 185);
    padding: 5px;
}